@media (max-width: 800px) {
  .port{
    width: 50%;
    height: 40vw;
  }

  .heading{
    font-size: 4vw;
  }
  h2.heading-single{
    font-size: 5vw;
  }


  .overlay{
    padding: 4vw;
    p {
    font-size: 2vw;
    }
    h3{
      font-size: 4vw;
    }
  }
  .portfolio{
    .toptext {
      margin-left: 5%;
      width: 93%;
      margin-top: 55vh;
      margin-bottom: 40px;
      h1{
        font-size: 7vw;
      }
      p{
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
  }
  }
  .block{
    flex-direction: column;
    margin-bottom: 30px;
  }
  div.block.andra{
    flex-direction: column;
  }
  div.ft-text{
    width: 100%;
    box-sizing: border-box;
  }
  img.half{
    width: 100%;
  }
  .column{
  float: none;
  width: 100%;
  margin-top: 30px;
  h3{
    text-align: center;
  }
}
.text{
  padding-bottom: 30px;
}
}
@media (max-width: 410px) {
    .port{
      width: 100%;
      height: 64vw;
      margin: 10px 0;
    }

    .main-menu{
      width: 100%;
      padding: 150px 0;
    }
    .heading{
      font-size: 6vw;
      margin-bottom: 25px;
}
.overlay{
  p {
  font-size: 3.5vw;
  }
  h3{
    font-size: 6vw;
  }
}
h2.heading-single{
  font-size: 6vw;
}
  }
